name: Crates.io publish
#on:
#  release:
#    types: [ published ]
#on:
#  pull_request:
on:
  push:
    tags: [ 'v*' ]

jobs:

  release:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install cargo-edit
        run: |
          cargo install cargo-edit

      - name: Set Cargo version from tag
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "Setting version to: $VERSION"
          
          # Update Cargo.toml and Cargo.lock
          cargo set-version $VERSION

      - name: Publish
        run: |
          cargo publish --token ${{secrets.CARGO_REGISTRY_TOKEN}} --allow-dirty --dry-run --color always

      #- name: Get package name
      #  id: package_name
      #  run: |
      #    PACKAGE_NAME=$(cargo metadata --no-deps --format-version 1 | jq -r '.packages[0].name')
      #    echo "name=$PACKAGE_NAME" >> "$GITHUB_OUTPUT"
      #    echo "PACKAGE_NAME=$PACKAGE_NAME" >> "$GITHUB_ENV"

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: target/release/${{steps.package_name.outputs.name}}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.PERSONAL_TOKEN}}
          commit-message: "chore: automated updates"
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: version-bump-${{steps.package_name.outputs.name}}
          base: master
          delete-branch: true
          title: '[Automated] Update Version Update'
          body: |
            This PR was automatically created by GitHub Actions.
            It should only contain a version bump in the cargo.toml. Its necessary to merge, as a new version of this repo has just been released.
          labels: |
            automated
            publish
            documentation
